html {
	font-size: 18px;
}

#container {
    display: none;
}

h3, h4, h5 {
	color: #0d6efd
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

h2 {
	text-align: center;
}

.btn, a {
	margin: 10px;
	display: inline-block;
	max-width: fit-content;
	font-weight: 900;
}

#title {
	display: block;
	white-space: pre-line;
	margin-left: 250px;
	margin-top: 200px;
}

#title:after, h1:after {
	content: ' █';
	animation: cursor 1s linear infinite;
}

#whatch {
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	width: 100%;
	margin-top: -27%;
	margin-bottom: -25%;
}

footer {
	margin: 80px;
	display: flex;
	justify-content: center;
}

:root {
	--repeat: .5s;
	--height: 10px;
	--area: 60%;    
}

.outer {
	animation: scan var(--repeat) linear infinite;
	position: absolute;
	height: 100%;
	width: 100%;
	transform-origin: center;
	background: linear-gradient( to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.04) var(--area), rgba(204, 204, 204, 0.02) var(--area), rgba(204, 204, 204, 0.02) );
	background-color: rgba(0, 0, 0, 0);
	background-size: 100% var(--height);
	background-position-y: 0px;
}

body {
	color: #333;
	background-color: white;
	font-family: monospace;
	font-size: 1rem;
	margin: 20px;
	line-height: 2;
}

.dark-mode {
	color: lime;
	background-color: black;
	font-family: monospace;
	font-size: 1rem;
	margin: 20px;
	line-height: 2;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	49.9% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99.9% {
		opacity: 1;
	}
}

@keyframes scan {
	0% { background-position-y: 0px; }
	100% { background-position-y: var(--height); }
}